<a href="https://colab.research.google.com/github/kcw0331/Environmental-Health-Big-Data-Analysis/blob/main/14%EC%A3%BC%EC%B0%A8/Test_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

먼저 본 문제지를 본인의 google drive 에 저장한 후 연습을 수행하세요.

File -> Save a copy in drive

## Test_R 

R의 tidyverse 패키지를 사용하여 아래의 문제들을 풀어보도록 합시다.

In [ ]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [ ]:
install.packages("babynames")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(babynames)

미국에서 5번 이상 사용된 아기 이름 데이터: babynames

In [ ]:
head(babynames)

  year sex name      n    prop
1 1880 F   Mary      7065 0.07238359
2 1880 F   Anna      2604 0.02667896
3 1880 F   Emma      2003 0.02052149
4 1880 F   Elizabeth 1939 0.01986579
5 1880 F   Minnie    1746 0.01788843
6 1880 F   Margaret  1578 0.01616720

In [ ]:
dim(babynames)

[1] 1924665       5

### Q1. 1900 년도에 태어난 남자, 여자 이름 top 5개를 알려주세요.

### Q2. 연도별 태어난 남여 인구수를 비교하는 그래프를 그려보세요.  
데이터는 5개 이상 사용된 아기 이름 데이터지만, 데이터에 나온 아이들이 전체 데이터라고 가정하고 문제를 풀어보세요.

### Q3. 주어진 성별의 이름에 대해서 연도별로 태어난 아동 수의 그래프를 그려주는 함수를 작성하세요.

### Q4. 본인이 만든 함수를 이용하여 이름들을 시각화 해 보면서 재미있는 패턴을 가진 이름에 대해 시각화 하고, theme 옵션을 사용해서 시각화 결과가 깔끔하게 나오게 수정해보세요.

### Q5. 남자 여자 이름 모두 쓰이는 이름들을 몇 개 찾아서 연도별 패턴을 시각화 해 보세요.

 - 1900 년도에 1000개이상 쓰인 이름들을 추려보세요.
 - 추려진 data의 이름들에 대해서 table 함수를 썼을 때 2 가 나오는 이름들은 남, 여 모두에서 1000회 이상 쓰인 이름입니다. 
 - 앞에서 확인한 이름으로 남자 여자별로 연도별 이름사용횟수를 그려주는 시각화를 수행해보세요.
 - 해당 그래플를 해석해서 설명해보세요