<a href="https://colab.research.google.com/github/kcw0331/Environmental-Health-Big-Data-Analysis/blob/main/7%EC%A3%BC%EC%B0%A8/5-subsetting_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Subsetting the data

## About the Data
In this notebook, we will be working with earthquake data from September 18, 2018 - October 13, 2018 (obtained from the US Geological Survey (USGS) using the [USGS API](https://earthquake.usgs.gov/fdsnws/event/1/))

## Setup
We will be working with the `data/earthquakes.csv` file again, so we need to handle our imports and read it in.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02/

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

In [3]:
import pandas as pd

df = pd.read_csv('data/earthquakes.csv')

* earthquakes 데이터를 불러와 준다.

## Selecting columns
Grab an entire column using attribute notation:

* column을 선택해 줄 때, 아래와 같이 두가지 방법으로 column을 선택해줄 수 있다.
* 그래서 선택된 결과는 series형식으로 되는 것을 볼 수 있다.

In [4]:
df.mag

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

Grab an entire column using dictionary syntax:

In [5]:
df['mag']

0       1.35
1       1.29
2       3.42
3       0.44
4       2.16
        ...
9327    0.62
9328    1.00
9329    2.40
9330    1.10
9331    0.66
Name: mag, Length: 9332, dtype: float64

Selecting multiple columns:

* multiple columns로 하게 되면, data frame형식으로 되는 것을 볼 수 있다.

In [6]:
df[['mag', 'title']]

       mag                                     title
0     1.35             M 1.4 - 9km NE of Aguanga, CA
1     1.29             M 1.3 - 9km NE of Aguanga, CA
2     3.42             M 3.4 - 8km NE of Aguanga, CA
3     0.44             M 0.4 - 9km NE of Aguanga, CA
4     2.16             M 2.2 - 10km NW of Avenal, CA
...    ...                                       ...
9327  0.62      M 0.6 - 9km ENE of Mammoth Lakes, CA
9328  1.00               M 1.0 - 3km W of Julian, CA
9329  2.40  M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330  1.10             M 1.1 - 9km NE of Aguanga, CA
9331  0.66             M 0.7 - 9km NE of Aguanga, CA

[9332 rows x 2 columns]

Selecting columns using list comprehensions and string operations:

In [7]:
df.columns

Index(['alert', 'cdi', 'code', 'detail', 'dmin', 'felt', 'gap', 'ids', 'mag',
       'magType', 'mmi', 'net', 'nst', 'place', 'rms', 'sig', 'sources',
       'status', 'time', 'title', 'tsunami', 'type', 'types', 'tz', 'updated',
       'url'],
      dtype='object')

In [8]:
[col for col in df.columns if col.startswith('mag')]

['mag', 'magType']

* columns의 mag로 시작된는 것들만 뽑아 준 것이다.

In [10]:
['title', 'time'] + [col for col in df.columns if col.startswith('mag')]

['title', 'time', 'mag', 'magType']

* 이렇게 이어서 출력을 해주는 것을 볼 수 있다.

In [9]:
df[
    ['title', 'time']
    + [col for col in df.columns if col.startswith('mag')]
]

                                         title           time   mag magType
0                M 1.4 - 9km NE of Aguanga, CA  1539475168010  1.35      ml
1                M 1.3 - 9km NE of Aguanga, CA  1539475129610  1.29      ml
2                M 3.4 - 8km NE of Aguanga, CA  1539475062610  3.42      ml
3                M 0.4 - 9km NE of Aguanga, CA  1539474978070  0.44      ml
4                M 2.2 - 10km NW of Avenal, CA  1539474716050  2.16      md
...                                        ...            ...   ...     ...
9327      M 0.6 - 9km ENE of Mammoth Lakes, CA  1537230228060  0.62      md
9328               M 1.0 - 3km W of Julian, CA  1537230135130  1.00      ml
9329  M 2.4 - 35km NNE of Hatillo, Puerto Rico  1537229908180  2.40      md
9330             M 1.1 - 9km NE of Aguanga, CA  1537229545350  1.10      ml
9331             M 0.7 - 9km NE of Aguanga, CA  1537228864470  0.66      ml

[9332 rows x 4 columns]

* 이어준 것을 data frame형태로 만들어 준다.

Breaking down this example:
1. the list comprehension

In [11]:
[col for col in df.columns if col.startswith('mag')]

['mag', 'magType']

2. assembling the list

In [12]:
['title', 'time'] \
+ [col for col in df.columns if col.startswith('mag')]

['title', 'time', 'mag', 'magType']

3. using this list as the list of columns

In [13]:
df[
    ['title', 'time']
    + [col for col in df.columns if col.startswith('mag')]
]

                                         title           time   mag magType
0                M 1.4 - 9km NE of Aguanga, CA  1539475168010  1.35      ml
1                M 1.3 - 9km NE of Aguanga, CA  1539475129610  1.29      ml
2                M 3.4 - 8km NE of Aguanga, CA  1539475062610  3.42      ml
3                M 0.4 - 9km NE of Aguanga, CA  1539474978070  0.44      ml
4                M 2.2 - 10km NW of Avenal, CA  1539474716050  2.16      md
...                                        ...            ...   ...     ...
9327      M 0.6 - 9km ENE of Mammoth Lakes, CA  1537230228060  0.62      md
9328               M 1.0 - 3km W of Julian, CA  1537230135130  1.00      ml
9329  M 2.4 - 35km NNE of Hatillo, Puerto Rico  1537229908180  2.40      md
9330             M 1.1 - 9km NE of Aguanga, CA  1537229545350  1.10      ml
9331             M 0.7 - 9km NE of Aguanga, CA  1537228864470  0.66      ml

[9332 rows x 4 columns]

## Slicing
### Selecting rows
Using row numbers (inclusive of first index, exclusive of last):

* row number를 slicing을 해서 출력을 해준다.

In [14]:
df[100:103]

    alert  ...                                                url
100   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
101   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...
102   NaN  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[3 rows x 26 columns]

* 파이썬에서는 첫번째인 100은 출력이 되지만, 마지막에 있는 103은 출력이 안되는 것을 볼 수 있다.

### Selecting rows and columns with chaining

* chaining을 통해서 column을 먼저 선택하고 row를 선택해서 할 수 있다.

In [15]:
df[['title', 'time']][100:103]

                                    title           time
100      M 1.2 - 25km NW of Ester, Alaska  1539435449480
101  M 0.6 - 8km ESE of Mammoth Lakes, CA  1539435391320
102        M 1.3 - 8km ENE of Aguanga, CA  1539435293090

Order doesn't matter here:

In [16]:
df[100:103][['title', 'time']].equals(
    df[['title', 'time']][100:103]
)

True

* 두개의 코드 결과가 똑같은지 equals로 해서 확인을 해보았을 때, True라는 값이 나오는 것을 보아서 두개의 코드 결과가 똑같다는 것을 알 수 있다.

So we know how to select rows and columns, but can we update values? Well, if we try using what we have learned so far, we will see the following warning:

In [17]:
df[110:113]['title']

110               M 1.1 - 35km S of Ester, Alaska
111    M 1.9 - 93km WNW of Arctic Village, Alaska
112      M 0.9 - 20km WSW of Smith Valley, Nevada
Name: title, dtype: object

In [18]:
df[110:113]['title'] = df[110:113]['title'].str.lower()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

* 위에 있는 코드는 출려되는 문자 가운데 대문자가 있는데, lower()를 사용해서 대문자를 소문자로 바꾸어 준다는 것을 말한다.

* 그런데 위와 같은 코드를 사용하게 되면, 오류가 나기 때문에 좋은 방법이 아니라서 loc을 사용해서 바꾸어 주는 방법을 추천하고 있다.

Note that it worked here, but `pandas` says we were setting a value on a copy of a slice and that we should use `loc` instead (topic of the following section):

In [19]:
df[110:113]['title']

110               m 1.1 - 35km s of ester, alaska
111    m 1.9 - 93km wnw of arctic village, alaska
112      m 0.9 - 20km wsw of smith valley, nevada
Name: title, dtype: object

## Indexing

Now if we do this with `loc` as the warning suggests, everything goes smoothly. Note we have to lower the end index by one since `loc` is inclusive of endpoints:

In [20]:
df.loc[110:112, 'title'] = df.loc[110:112, 'title'].str.lower()
df.loc[110:112, 'title']

110               m 1.1 - 35km s of ester, alaska
111    m 1.9 - 93km wnw of arctic village, alaska
112      m 0.9 - 20km wsw of smith valley, nevada
Name: title, dtype: object

* 위에서 lower()를 사용해서 소문자로 만드는 것을 했을 때, 오류가 났는데, 여기에서는 loc를 사용해서 lower()를 했기 때문에 오류가 나지 않는다는 것을 알 수 있다.
* 110부터 112까지 해서 출력해주는 것을 볼 수 있다.

## **교수님이 데이터 프레임 인덱싱 할때, 별도의 loc같은게 없지만 pandas에는 indexing할 때 loc이나 iloc을 한다는 것을 꼭 기억해주면 좋을 것 같다고 말씀하심.**

### Indexing with `loc`
Selection of the format `loc[row_indexer, column_indexer]` where `:` can be used to select all:

In [21]:
df.loc[:,'title']

0                  M 1.4 - 9km NE of Aguanga, CA
1                  M 1.3 - 9km NE of Aguanga, CA
2                  M 3.4 - 8km NE of Aguanga, CA
3                  M 0.4 - 9km NE of Aguanga, CA
4                  M 2.2 - 10km NW of Avenal, CA
                          ...
9327        M 0.6 - 9km ENE of Mammoth Lakes, CA
9328                 M 1.0 - 3km W of Julian, CA
9329    M 2.4 - 35km NNE of Hatillo, Puerto Rico
9330               M 1.1 - 9km NE of Aguanga, CA
9331               M 0.7 - 9km NE of Aguanga, CA
Name: title, Length: 9332, dtype: object

* : 을 쳐주게 되면 모든 것을 의미한다. 그래서 row는 전부다를 선택해주고 colum은 title을 선택해준다.

We can use `loc` to select specific rows and columns without chaining. If we use row numbers with `loc`, they are now **inclusive** of the end index:

In [22]:
df.loc[10:15, ['title', 'mag']]

                                                title   mag
10                     M 0.5 - 10km NE of Aguanga, CA  0.50
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77
12                      M 0.5 - 9km NE of Aguanga, CA  0.50
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50
14                   M 2.1 - 14km NW of Parkfield, CA  2.13
15       M 2.0 - 156km WNW of Haines Junction, Canada  2.00

# **보통은 10:15를 하게 되면 마지막 15는 나오지 않았는데. 여기에서는 loc을 사용해서 출력을 해주었기 때문에 10부터 15까지 마지막에가 없어지지 않고 다 포함해서 나온다는 것을 알 수 있다. 교수님이 기억해두라고 하심.**

#### Indexing with `iloc`
Exclusive of the endpoint just as Python slicing:

* iloc과 같은 경우는 숫자를 idex로 해서 출력을 해주게 된다.

##  **loc과 iloc이 다른 점은 loc은 10부터 15까지 하게 되면, 10부터 15까지 전부 나오게 되는데, iloc과 같은 경우는 10부터 15까지 하게 되면, 10부터 14까지 나오게 된다. 두개의 차이점이다.**

In [23]:
df.iloc[10:15, [19, 8]]

                                                title   mag
10                     M 0.5 - 10km NE of Aguanga, CA  0.50
11  M 2.8 - 53km SE of Punta Cana, Dominican Republic  2.77
12                      M 0.5 - 9km NE of Aguanga, CA  0.50
13         M 4.5 - 120km SSW of Banda Aceh, Indonesia  4.50
14                   M 2.1 - 14km NW of Parkfield, CA  2.13

We can use slicing syntax with `iloc` for both rows and columns:

In [24]:
df.iloc[10:15, 6:10]

      gap             ids   mag magType
10   57.0    ,ci37389162,  0.50      ml
11  186.0  ,pr2018286010,  2.77      md
12   76.0    ,ci37389146,  0.50      ml
13  157.0    ,us1000hbti,  4.50      mb
14   71.0    ,nc73096921,  2.13      md

When using `loc`, we can slice on column names. This will be inclusive of the endpoint because you can't be expected to know what the next column name will be. As such, we have multiple ways to achieve the same end goal:

In [26]:
df.iloc[10:15, 6:10].equals(
    df.loc[10:14, 'gap':'magType']
)

True

* iloc을 사용한거든 loc을 사용한거든 결과는 똑같다는 것을 equals가 True가 나왔기 때문에 알 수 있다.

## 여기에서 중요한 점은 loc은 10:14까지 하고 iloc은 10:15까지 해줘야 결과가 똑같이 나오는 것을 알 수 있다.

### Looking up scalar values
We used `loc` and `iloc` to grab subsets of the dataframe. However, if we are just interested in the specific value at a given `[row, column]`, then we can use `iat` and `at`. We use `at` with labels:

In [27]:
df.at[10, 'mag']

0.5

* 이렇게 해서 scalar values의 값을 얻어 낼 수 있다는 것이다.

...and `iat` with integer indices:

In [28]:
df.iat[10, 8]

0.5

* 10번째 mag의 값을 출력해 준다.

## Filtering
We can filter our dataframes using a **Boolean mask**, which can be made as follows:

* 보통 slising보다는 Filtering을 많이 사용한다.
* 그래서 Boolean한 mask를 사용해서 선택을 해준다.

In [29]:
df.mag > 2

0       False
1       False
2        True
3       False
4        True
        ...
9327    False
9328    False
9329     True
9330    False
9331    False
Name: mag, Length: 9332, dtype: bool

To use a mask for selection, we simply place it inside the brackets:

* 간단하게는 DataFrame에서 Mask를 넣어서 선택해 줄 수 있다.

In [30]:
df[df.mag >= 7.0]

      alert  ...                                                url
837   green  ...  https://earthquake.usgs.gov/earthquakes/eventp...
5263    red  ...  https://earthquake.usgs.gov/earthquakes/eventp...

[2 rows x 26 columns]

We can use masks with `loc`:

* location함수를 써서 만들어 줄 수 있다.

In [31]:
df.loc[
    df.mag >= 7.0,
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type'] #보여주고 싶은 column들을 써준다.
]

      alert  mag  ... tsunami        type
837   green  7.0  ...       1  earthquake
5263    red  7.5  ...       1  earthquake

[2 rows x 6 columns]

* 그럼 mag가 7.0 이상인 얘들이 잘 선택되는 것을 볼 수 있다.

Masks can be created using multiple criteria when combined with bitwise operators `&` for AND and `|` for OR. We must also surround each criterion with parentheses. We can't use `and`/`or` here because we need to evaluate row by row:

In [32]:
df.loc[
    (df.tsunami == 1) & (df.alert == 'red'),  #여기에서는 Data Frame에서 tsunami가 1이고 alert가 red인 것을 가지고 온다.
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

     alert  mag magType                              title  tsunami        type
5263   red  7.5     mww  M 7.5 - 78km N of Palu, Indonesia        1  earthquake

An example with an OR condition, which is less restrictive:

In [33]:
df.loc[
    (df.tsunami == 1) | (df.alert == 'red'),  #여기에서는 or operation으로 해주어서 tsunami가 1인거 alert가 red인 것을 가지고 온다.
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

      alert  mag  ... tsunami        type
36      NaN  5.0  ...       1  earthquake
118   green  6.7  ...       1  earthquake
501   green  5.6  ...       1  earthquake
799   green  6.5  ...       1  earthquake
816   green  6.2  ...       1  earthquake
...     ...  ...  ...     ...         ...
8561    NaN  5.4  ...       1  earthquake
8624    NaN  5.1  ...       1  earthquake
9133  green  5.1  ...       1  earthquake
9175    NaN  5.2  ...       1  earthquake
9304    NaN  5.1  ...       1  earthquake

[61 rows x 6 columns]

Masks can be created from any criteria that results in a Boolean. For example, we can select all earthquakes with the string `Alaska` in the `place` column with a non-null value for the `alert` column. To get non-nulls, we can use the `isnull()` method with the bitwise negation operator (`~`) or the `notnull()` method:

* 아래 보이는 코드가 location에서 helper function을 사용해서 선택해주는 방법이다.

In [35]:
df.loc[
    (df.place.str.contains('Alaska')) & (df.alert.notnull()),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type', 'place'] 
]

      alert  mag  ...        type                                place
1015  green  5.0  ...  earthquake     61km SSW of Chignik Lake, Alaska
1273  green  4.0  ...  earthquake          71km SW of Kaktovik, Alaska
1795  green  4.0  ...  earthquake           60km WNW of Valdez, Alaska
2752  green  4.0  ...  earthquake         67km SSW of Kaktovik, Alaska
3260  green  3.9  ...  earthquake       44km N of North Nenana, Alaska
4101  green  4.2  ...  earthquake  131km NNW of Arctic Village, Alaska
6897  green  3.8  ...  earthquake         80km SSW of Kaktovik, Alaska
8524  green  3.8  ...  earthquake         69km SSW of Kaktovik, Alaska
9133  green  5.1  ...  earthquake         64km SSW of Kaktovik, Alaska

[9 rows x 7 columns]

* 여기에서는 df에서 place에서 str을 사용하고 conatins을 사용해서 Alaska인 것을 선택해준다.
* 그리고 df에서 alert에서 notnull을 사용해서 값이 비어있지 않은 것들을 뽑아내준다.

We can even use regular expressions here:

In [36]:
df.loc[
    (df.place.str.contains(r'CA|California$')) & (df.mag > 3.8),
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type','place']
]

      alert   mag magType  ... tsunami        type                      place
1465  green  3.83      mw  ...       0  earthquake  109km WNW of Trinidad, CA
2414  green  3.83      mw  ...       1  earthquake   5km SW of Tres Pinos, CA

[2 rows x 7 columns]

* string patten을 사용해 줄 때는 regular expression을 사용해 주어야 한다.
* r이 regular expression을 의미하고 $이게 마지막 인것을 나타 낸다. 그래서 마지막이 CA든지 California인것을 출력해준다.

We can use the `between()` method to turn 2 individual checks (is less than or equal to some maximum value and is greater than or equal to some minimum value) into a single one. Note this is inclusive of the endpoint by default:

In [37]:
df.loc[
    df.mag.between(6.5, 7.5),  #여기에서는 mag가 6.5에서 7.5사이 인것을 출력해준다.
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

      alert  mag  ... tsunami        type
118   green  6.7  ...       1  earthquake
799   green  6.5  ...       1  earthquake
837   green  7.0  ...       1  earthquake
4363  green  6.7  ...       1  earthquake
5263    red  7.5  ...       1  earthquake

[5 rows x 6 columns]

We can use the `isin()` method to check for membership in a list of values:

In [38]:
df.loc[
    df.magType.isin(['mw', 'mwb']),  #isin은 여러가지 함수가 동시에 뽑히는 것을 보고 싶을 때 사용해준다.
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

      alert   mag  ... tsunami        type
995     NaN  3.35  ...       0  earthquake
1465  green  3.83  ...       0  earthquake
2414  green  3.83  ...       1  earthquake
4988  green  4.41  ...       1  earthquake
6307  green  5.80  ...       0  earthquake
8257  green  5.70  ...       0  earthquake

[6 rows x 6 columns]

We can grab the index of the minimum and maximum values of a given column and use those to select the entire row where they occur:

* index object에서 idxmin이랑 idxmax를 이용하는 방법이다.

In [39]:
[df.mag.idxmin(), df.mag.idxmax()]

[2409, 5263]

* mag의 minmum값을 return해주는 거랑 mag의 maximum값을 return해주는 것을 출력해준다.

In [40]:
df.loc[
    [df.mag.idxmin(), df.mag.idxmax()],
    ['alert', 'mag', 'magType', 'title', 'tsunami', 'type']
]

     alert   mag  ... tsunami        type
2409   NaN -1.26  ...       0  earthquake
5263   red  7.50  ...       1  earthquake

[2 rows x 6 columns]

Note that there is a `filter()` method, but it doesn't filter the data in the same sense as we discussed in this section. Here are a few things you can do with this method.

- grab columns of a dataframe by passing a list to `items`:

### **이러한 filter를 사용하는 방법도 있는데 관심있는 학생들은 살펴봐 달라고 교수님이 말씀하심.**

In [41]:
df.filter(items=['mag', 'magType']).head()

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

- grab all the columns that contain a string with the `like` parameter:

In [42]:
df.filter(like='mag').head()

    mag magType
0  1.35      ml
1  1.29      ml
2  3.42      ml
3  0.44      ml
4  2.16      md

- use regular expressions; here, we select any columns that start with `t`:

In [43]:
df.filter(regex=r'^t').head()

            time  ...     tz
0  1539475168010  ... -480.0
1  1539475129610  ... -480.0
2  1539475062610  ... -480.0
3  1539474978070  ... -480.0
4  1539474716050  ... -480.0

[5 rows x 6 columns]

- use `filter()` along the rows, by passing in `axis=0`. Here, we will use the `place` column as the index (we will cover `set_index()` in chapter 3):

In [44]:
df.set_index('place').filter(like='Japan', axis=0).filter(items=['mag', 'magType', 'title']).head()

                             mag magType                                title
place
160km NNW of Nago, Japan     4.6      mb     M 4.6 - 160km NNW of Nago, Japan
7km ESE of Asahi, Japan      5.2     mww      M 5.2 - 7km ESE of Asahi, Japan
14km E of Tomakomai, Japan   4.5     mwr   M 4.5 - 14km E of Tomakomai, Japan
139km WSW of Naze, Japan     4.7      mb     M 4.7 - 139km WSW of Naze, Japan
53km ESE of Kamaishi, Japan  4.6      mb  M 4.6 - 53km ESE of Kamaishi, Japan

This also works on `Series` objects and will run on the index:

In [45]:
df.set_index('place').title.filter(like='Japan').head()

place
160km NNW of Nago, Japan          M 4.6 - 160km NNW of Nago, Japan
7km ESE of Asahi, Japan            M 5.2 - 7km ESE of Asahi, Japan
14km E of Tomakomai, Japan      M 4.5 - 14km E of Tomakomai, Japan
139km WSW of Naze, Japan          M 4.7 - 139km WSW of Naze, Japan
53km ESE of Kamaishi, Japan    M 4.6 - 53km ESE of Kamaishi, Japan
Name: title, dtype: object

<hr>
<div>
    <a href="./4-inspecting_dataframes.ipynb">
        <button style="float: left;">&#8592; Previous Notebook</button>
    </a>
    <a href="./6-adding_and_removing_data.ipynb">
        <button style="float: right;">Next Notebook &#8594;</button>
    </a>
</div>
<br>
<hr>