<a href="https://colab.research.google.com/github/kcw0331/Environmental-Health-Big-Data-Analysis/blob/main/7%EC%A3%BC%EC%B0%A8/6-adding_and_removing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Adding and Removing Data

## About the Data
In this notebook, we will be working with earthquake data from September 18, 2018 - October 13, 2018 (obtained from the US Geological Survey (USGS) using the [USGS API](https://earthquake.usgs.gov/fdsnws/event/1/))

## Setup
We will be working with the `data/earthquakes.csv` file again, so we need to handle our imports and read it in.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
cd /content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

/content/drive/MyDrive/Hands-On-Data-Analysis-with-Pandas-2nd-edition/ch_02

In [3]:
import pandas as pd

df = pd.read_csv(
    'data/earthquakes.csv', 
    usecols=['time', 'title', 'place', 'magType', 'mag', 'alert', 'tsunami']
)

## Creating new data
### Adding new columns
New columns get added to the right of the original columns and can be a single value, which will be **broadcast** along the rows of the dataframe:

In [4]:
df['source'] = 'USGS API'
df.head()

  alert   mag magType  ...                          title  tsunami    source
0   NaN  1.35      ml  ...  M 1.4 - 9km NE of Aguanga, CA        0  USGS API
1   NaN  1.29      ml  ...  M 1.3 - 9km NE of Aguanga, CA        0  USGS API
2   NaN  3.42      ml  ...  M 3.4 - 8km NE of Aguanga, CA        0  USGS API
3   NaN  0.44      ml  ...  M 0.4 - 9km NE of Aguanga, CA        0  USGS API
4   NaN  2.16      md  ...  M 2.2 - 10km NW of Avenal, CA        0  USGS API

[5 rows x 8 columns]

* 여기에서는 source라는 변수를 만들어서 거기에 USGS API라는 것을 입력해준다.

...or a Boolean mask:

In [5]:
df['mag_negative'] = df.mag < 0   #0보다 작은 거를 boolean으로 해서 Mask를 집어 넣어 준다.
df.head()

  alert   mag magType  ... tsunami    source mag_negative
0   NaN  1.35      ml  ...       0  USGS API        False
1   NaN  1.29      ml  ...       0  USGS API        False
2   NaN  3.42      ml  ...       0  USGS API        False
3   NaN  0.44      ml  ...       0  USGS API        False
4   NaN  2.16      md  ...       0  USGS API        False

[5 rows x 9 columns]

* Boolean한 Mask를 집어 넣고 싶을 때 위에와 같은 코드를 입력해준다.

#### Adding the `parsed_place` column
We have an entity recognition problem on our hands with the `place` column. There are several entities that have multiple names in the data (e.g., CA and California, NV and Nevada).

* parsed_place라는 변수를 추가하는 것이다.

In [6]:
df.place

0                  9km NE of Aguanga, CA
1                  9km NE of Aguanga, CA
2                  8km NE of Aguanga, CA
3                  9km NE of Aguanga, CA
4                  10km NW of Avenal, CA
                      ...
9327        9km ENE of Mammoth Lakes, CA
9328                 3km W of Julian, CA
9329    35km NNE of Hatillo, Puerto Rico
9330               9km NE of Aguanga, CA
9331               9km NE of Aguanga, CA
Name: place, Length: 9332, dtype: object

* 우선 DataFrame에서 place에 대한 정보를 확인해 주었다.

In [8]:
df.place.str.extract(r', (.*$)')[0]  #extract는 (.*$)이 괄호 안에 꺼를 출력해준다. 괄호안에 패턴의 첫번째 꺼를 출력해주는 거라서 [0]이라고 해준다.

0                CA
1                CA
2                CA
3                CA
4                CA
           ...
9327             CA
9328             CA
9329    Puerto Rico
9330             CA
9331             CA
Name: 0, Length: 9332, dtype: object

In [9]:
df.place.str.extract(r', (.*$)')[0].sort_values().unique()  #sort를 해준다음에 unique한 애들만 출력해준 것이다.

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Australia', 'Azerbaijan', 'B.C., MX', 'Barbuda', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba ', 'British Virgin Islands',
       'Burma', 'CA', 'California', 'Canada', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'Ecuador region',
       'El Salvador', 'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala',
       'Haiti', 'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Italy', 'Jamaica', 'Japan', 'Kansas',
       'Kentucky', 'Kyrgyzstan', 'Martinique', 'Mauritius', 'Mayotte',
       'Mexico', 'Missouri', 'Montana', 'NV', 'Nevada', 'New Caledonia',
       'New Hampshire', 'New Mexico', 'New Zealand', 'Nicaragua',
       'North Carolina', 'Northern Mariana Islands', 'Oklahoma', 'Oregon',
       'Pakistan', 'Papua New Guinea', 'Peru', 'Philippines',
       'Puerto Rico', 'Romania', 'Russia', 'Saint Helena',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and the South Sandwich Islands',
       'South Sandwich Islands', 'Taiwan', 'Tajikistan', 'Tennessee',
       'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands', 'Utah',
       'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington', 'Wyoming',
       'Yemen', nan], dtype=object)

* 위에 보이는 문제는 CA나 California가 같은 말인데 겹치는 현상이 일어나고 있다 그래서 이 겹치는 현상을 해결하기 위해 아래 코드를 사용한다.

Replace parts of the `place` names to fit our needs:

In [10]:
df['parsed_place'] = df.place.str.replace(
    r'.* of ', '', regex=True # remove anything saying <something> of <something>
).str.replace(
    'the ', '' # remove "the "
).str.replace(
    r'CA$', 'California', regex=True # fix California
).str.replace(
    r'NV$', 'Nevada', regex=True # fix Nevada
).str.replace(
    r'MX$', 'Mexico', regex=True # fix Mexico
).str.replace(
    r' region$', '', regex=True # chop off endings with " region"
).str.replace(
    'northern ', '' # remove "northern "
).str.replace(
    'Fiji Islands', 'Fiji' # line up the Fiji places
).str.replace(
    r'^.*, ', '', regex=True # remove anything else extraneous from the beginning
).str.strip() # remove any extra spaces

* 여기 코드에서는 place에 다가 replace를 계속해줘서 변환작업을 계속해주는 것이다.

Now we can use a single name to get all earthquakes for that place (although this still isn't perfect):

In [11]:
df.parsed_place.sort_values().unique()

array(['Afghanistan', 'Alaska', 'Argentina', 'Arizona', 'Arkansas',
       'Ascension Island', 'Australia', 'Azerbaijan', 'Balleny Islands',
       'Barbuda', 'Bolivia', 'British Virgin Islands', 'Burma',
       'California', 'Canada', 'Carlsberg Ridge',
       'Central East Pacific Rise', 'Central Mid-Atlantic Ridge', 'Chile',
       'China', 'Christmas Island', 'Colombia', 'Colorado', 'Costa Rica',
       'Dominican Republic', 'East Timor', 'Ecuador', 'El Salvador',
       'Fiji', 'Greece', 'Greenland', 'Guam', 'Guatemala', 'Haiti',
       'Hawaii', 'Honduras', 'Idaho', 'Illinois', 'India',
       'Indian Ocean Triple Junction', 'Indonesia', 'Iran', 'Iraq',
       'Italy', 'Jamaica', 'Japan', 'Kansas', 'Kentucky',
       'Kermadec Islands', 'Kuril Islands', 'Kyrgyzstan', 'Martinique',
       'Mauritius', 'Mayotte', 'Mexico', 'Mid-Indian Ridge', 'Missouri',
       'Montana', 'Nevada', 'New Caledonia', 'New Hampshire',
       'New Mexico', 'New Zealand', 'Nicaragua', 'North Carolina',
       'Northern East Pacific Rise', 'Northern Mariana Islands',
       'Northern Mid-Atlantic Ridge', 'Oklahoma', 'Oregon',
       'Pacific-Antarctic Ridge', 'Pakistan', 'Papua New Guinea', 'Peru',
       'Philippines', 'Prince Edward Islands', 'Puerto Rico',
       'Queen Charlotte Islands', 'Romania', 'Russia',
       'Saint Eustatius and Saba', 'Saint Helena', 'Socotra',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Carolina',
       'South Georgia and South Sandwich Islands',
       'South Sandwich Islands', 'Southeast Indian Ridge',
       'Southern East Pacific Rise', 'Southern Mid-Atlantic Ridge',
       'Southwest Indian Ridge', 'Sumatra', 'Taiwan', 'Tajikistan',
       'Tennessee', 'Texas', 'Tonga', 'Turkey', 'U.S. Virgin Islands',
       'Utah', 'Uzbekistan', 'Vanuatu', 'Vermont', 'Washington',
       'Western Indian-Antarctic Ridge', 'Western Xizang', 'Wyoming',
       'Yemen'], dtype=object)

* 그래서 parsed_place를 다시 출력을하게 되면 겹치는 현상이 없어지는 것을 볼 수 있다.

#### Using the `assign()` method to create columns
To create many columns at once or update existing columns, we can use `assign()`:

* assign함수를 사용해서 multiple columns를 만들때 사용을 해준다.

In [13]:
df.assign(
    in_ca=df.parsed_place.str.endswith('California'), #parsed_place가 California로 끝나면 in_ca
    in_alaska=df.parsed_place.str.endswith('Alaska') # parsed_place가 Alaska로 끝나면 in_alaska로 해준다.
).sample(5, random_state=0)

     alert   mag magType  ... parsed_place  in_ca in_alaska
7207   NaN  4.80     mwr  ...    Nicaragua  False     False
4755   NaN  1.09      ml  ...   Washington  False     False
4595   NaN  1.80      ml  ...       Alaska  False      True
3566   NaN  1.50      ml  ...       Alaska  False      True
2182   NaN  0.90      ml  ...   California   True     False

[5 rows x 12 columns]

* in_ca랑 in_alaska를 만들고 싶을때, assign을 활용해서 만들어 준다.

With the use of `lambda` functions, the `assign()` method becomes even more powerful. **Lambda functions** are anonymous functions usually defined in one line and for single use. The `assign()` method passes the entire dataframe into the `lambda` function as `x`; from there, we can select the columns `in_ca` and `in_alaska`, which are being created in that same call to `assign()`. Here, we use a `lambda` function to create a new column, `neither`, which tells if the earthquake was neither in Alaska nor California:

* 한번 사용될 single use를 위한 하나의 라인으로 된 function이다.

In [14]:
df.assign(
    in_ca=df.parsed_place == 'California',
    in_alaska=df.parsed_place == 'Alaska',
    neither=lambda x: ~x.in_ca & ~x.in_alaska  #여기에서 lambda X:가 함수 X라고 생각하면 된다.
).sample(5, random_state=0)

     alert   mag magType  ...  in_ca  in_alaska neither
7207   NaN  4.80     mwr  ...  False      False    True
4755   NaN  1.09      ml  ...  False      False    True
4595   NaN  1.80      ml  ...  False       True   False
3566   NaN  1.50      ml  ...  False       True   False
2182   NaN  0.90      ml  ...   True      False   False

[5 rows x 13 columns]

#### Concatenation
Say we were working with two separate dataframes, one with earthquakes accompanied by tsunamis and the other with earthquakes without tsunamis. If we wanted to look at earthquakes as a whole, we would want to concatenate the dataframes into a single one:

* Concatenation은 데이터를 합쳐주는 것이다.

In [15]:
tsunami = df[df.tsunami == 1]
no_tsunami = df[df.tsunami == 0]

tsunami.shape, no_tsunami.shape

((61, 10), (9271, 10))

* tsunami가 있는 데이터랑, 없는 데이터를 나누어 주었다.

Concatenating along the row axis (`axis=0`) is equivalent to appending to the bottom. By concatenating our earthquakes with tsunamis and those without tsunamis, we get the full earthquake data set back:

In [16]:
pd.concat([tsunami, no_tsunami]).shape

(9332, 10)

* row쪽으로 합쳐주는 것이다.

Note that the previous result is equivalent to running the `append()` method of the dataframe:

In [17]:
tsunami.append(no_tsunami).shape

(9332, 10)

* 여기에 보이듯이 .append를 해줘서 합쳐주는 방법도 있다.

We have been working with a subset of the columns from the CSV file, but suppose that now we want to get some of the columns we ignored when we read in the data. Since we have added new columns in this notebook, we won't want to read in the file and perform those operations again. Instead, we will concatenate along the columns (`axis=1`) to add back what we are missing:

In [19]:
additional_columns = pd.read_csv(
    'data/earthquakes.csv', usecols=['tz', 'felt', 'ids']
)
pd.concat([df.head(2), additional_columns.head(2)], axis=1)

  alert   mag magType  ... felt           ids     tz
0   NaN  1.35      ml  ...  NaN  ,ci37389218, -480.0
1   NaN  1.29      ml  ...  NaN  ,ci37389202, -480.0

[2 rows x 13 columns]

* ['tz', 'felt', 'ids'] 추가적으로 데이터를 불러온 다음에 현재 있는 데이터랑 additional_columns들을 합쳐줄 때 pd.concat를 사용해 준다.
* axis가 0인게 row이고 axis가 1인게 column이다.

Notice what happens if the index doesn't align though:

In [20]:
additional_columns = pd.read_csv(
    'data/earthquakes.csv', usecols=['tz', 'felt', 'ids', 'time'], index_col='time'
)
pd.concat([df.head(2), additional_columns.head(2)], axis=1)

              alert   mag magType  ... felt           ids     tz
0               NaN  1.35      ml  ...  NaN           NaN    NaN
1               NaN  1.29      ml  ...  NaN           NaN    NaN
1539475129610   NaN   NaN     NaN  ...  NaN  ,ci37389202, -480.0
1539475168010   NaN   NaN     NaN  ...  NaN  ,ci37389218, -480.0

[4 rows x 13 columns]

* 여기에서는 index_col을 가져올 때 time으로 해서 index가 달라지는 경우에는 이렇게 우리가 원하는 데로 합쳐지지 않는 것을 볼 수 있다.

If the index doesn't align, we can align it before attempting the concatentation, which we will discuss in chapter 3.

Say we want to join the `tsunami` and `no_tsunami` dataframes, but the `no_tsunami` dataframe has an additional column. The `join` parameter specifies how to handle any overlap in column names (when appending to the bottom) or in row names (when concatenating to the left/right). By default, this is `outer`, so we keep everything; however, if we use `inner`, we will only keep what is in common:

* inner join은 둘다 가지고 있는 경우에만 갖고 있는다 이다.

In [21]:
pd.concat(
    [tsunami.head(2), no_tsunami.head(2).assign(type='earthquake')], join='inner'
)

     alert   mag magType  ...    source  mag_negative      parsed_place
36     NaN  5.00     mww  ...  USGS API         False  Christmas Island
118  green  6.70     mww  ...  USGS API         False            Russia
0      NaN  1.35      ml  ...  USGS API         False        California
1      NaN  1.29      ml  ...  USGS API         False        California

[4 rows x 10 columns]

* 지금 위에서는 type = "earthquake"라는 것을 만들었는데 inner join이니까 겹치는 것만 출력해주는데 현재 새로 type이라는 것을 만들어서 새로 만든 type은 나오지 않는다 근데, outter를 사용해주면 새로 만든 type도 출력이 되는 것을 알 수 있다.

In addition, we use `ignore_index`, since the index doesn't mean anything for us here. This gives us sequential values instead of what we had in the previous result:

In [22]:
pd.concat(
    [tsunami.head(2), no_tsunami.head(2).assign(type='earthquake')], join='inner', ignore_index=True
)

   alert   mag magType  ...    source  mag_negative      parsed_place
0    NaN  5.00     mww  ...  USGS API         False  Christmas Island
1  green  6.70     mww  ...  USGS API         False            Russia
2    NaN  1.35      ml  ...  USGS API         False        California
3    NaN  1.29      ml  ...  USGS API         False        California

[4 rows x 10 columns]

* 합치고 나서 index의 순서로 바로 다시 하고 싶을 때는 ignore_index = True를 해주게 되면 index의 순서가 바로 되는 것을 볼 수 있다.

## Deleting Unwanted Data
Columns can be deleted using dictionary syntax with `del`:

In [23]:
df.columns

Index(['alert', 'mag', 'magType', 'place', 'time', 'title', 'tsunami',
       'source', 'mag_negative', 'parsed_place'],
      dtype='object')

In [24]:
del df['source']
df.columns

Index(['alert', 'mag', 'magType', 'place', 'time', 'title', 'tsunami',
       'mag_negative', 'parsed_place'],
      dtype='object')

* source라는 변수가 del을 사용해서 지워진 것을 볼 수 있다.

If we don't know whether the column exists, we should use a `try`/`except` block:

In [25]:
try:
    del df['source']
except KeyError:
    # handle the error here
    print('not there anymore')

not there anymore

* 에러가 안나게 하는 방법은 try와 except를 사용하면 된다.

We can also use `pop()`. This will allow us to use the series we remove later. Note there will be an error if the key doesn't exist, so we can also use a `try`/`except` here:

In [26]:
mag_negative = df.pop('mag_negative')
df.columns

Index(['alert', 'mag', 'magType', 'place', 'time', 'title', 'tsunami',
       'parsed_place'],
      dtype='object')

* 여기에서는 pop이라는 것을 사용해서 mag_negative를 없애주는 것을 해준다.

Notice we have a mask in `mag_negative` now:

In [27]:
mag_negative.value_counts()

False    8841
True      491
Name: mag_negative, dtype: int64

Now, we can use `mag_negative` to filter our data:

In [28]:
df[mag_negative].head()

    alert   mag  ... tsunami parsed_place
39    NaN -0.10  ...       0       Nevada
49    NaN -0.10  ...       0       Nevada
135   NaN -0.40  ...       0       Nevada
161   NaN -0.02  ...       0      Montana
198   NaN -0.20  ...       0       Nevada

[5 rows x 8 columns]

* mag_negative인것에 대한 정보를 뽑아 준 것이다.

### Using the `drop()` method
We can drop rows by passing a list of indices to the `drop()` method. Notice in the following example that when asking for the first 2 rows with `head()` we get the 3rd and 4th rows because we dropped the original first 2 with `drop([0, 1])`:

* drop이란 것을 사용해서 multiple column과 multiple rows들을 지워 줄 수 있다.

In [29]:
df.drop([0, 1]).head(2)

  alert   mag magType  ...                          title  tsunami parsed_place
2   NaN  3.42      ml  ...  M 3.4 - 8km NE of Aguanga, CA        0   California
3   NaN  0.44      ml  ...  M 0.4 - 9km NE of Aguanga, CA        0   California

[2 rows x 8 columns]

* 0번째와 1번째를 지워준다.

The `drop()` method drops along the row axis by default. If we pass in a list of columns with the `columns` argument, we can delete columns:

In [31]:
cols_to_drop = [
    col for col in df.columns  #df.columns들에 대해서 만약 columns이 아래와 같은 column이 아니면 cols_to_drop에 저장해줘라 하는 것이다.
    if col not in ['alert', 'mag', 'title', 'time', 'tsunami']
]
cols_to_drop

['magType', 'place', 'parsed_place']

In [32]:
cols_to_drop = [
    col for col in df.columns
    if col not in ['alert', 'mag', 'title', 'time', 'tsunami']
]
df.drop(columns=cols_to_drop).head()

  alert   mag           time                          title  tsunami
0   NaN  1.35  1539475168010  M 1.4 - 9km NE of Aguanga, CA        0
1   NaN  1.29  1539475129610  M 1.3 - 9km NE of Aguanga, CA        0
2   NaN  3.42  1539475062610  M 3.4 - 8km NE of Aguanga, CA        0
3   NaN  0.44  1539474978070  M 0.4 - 9km NE of Aguanga, CA        0
4   NaN  2.16  1539474716050  M 2.2 - 10km NW of Avenal, CA        0

* cols_to_drop안에 있는 변수들을 지워주는 것이다.

We also have the option of using `axis=1`:

In [33]:
df.drop(columns=cols_to_drop).equals(
    df.drop(cols_to_drop, axis=1)   #axis 1을 하게 되면, column방향인데 이렇게 해도 위의 코드와 같다는 것이다.
)

True

By default, `drop()`, along with the majority of `DataFrame` methods, will return a new `DataFrame` object. If we just want to change the one we are working with, we can pass `inplace=True`. This should be used with care:

In [34]:
df.drop(columns=cols_to_drop, inplace=True)
df.head()

  alert   mag           time                          title  tsunami
0   NaN  1.35  1539475168010  M 1.4 - 9km NE of Aguanga, CA        0
1   NaN  1.29  1539475129610  M 1.3 - 9km NE of Aguanga, CA        0
2   NaN  3.42  1539475062610  M 3.4 - 8km NE of Aguanga, CA        0
3   NaN  0.44  1539474978070  M 0.4 - 9km NE of Aguanga, CA        0
4   NaN  2.16  1539474716050  M 2.2 - 10km NW of Avenal, CA        0

* 데이터 프레임 자체를 수정하고 싶으면 inplace=True를 하게되면 dataframe자체가 바뀌게 된다.
* 원본 데이터의 데이터프레임이 바뀌게 된다.

<hr>

<div style="overflow: hidden; margin-bottom: 10px;">
    <div style="float: left;">
        <a href="./5-subsetting_data.ipynb">
            <button>&#8592; Previous Notebook</button>
        </a>
    </div>
    <div style="float: right;">
        <a href="../../solutions/ch_02/solutions.ipynb">
            <button>Solutions</button>
        </a>
        <a href="../ch_03/1-wide_vs_long.ipynb">
            <button>Chapter 3 &#8594;</button>
        </a>
    </div>
</div>
<hr>